
Galactic-Server-src/bin/logs/app.log
*.log
*.dll
*.pdb
Galactic-Server-src/.vs/server/v16/.suo
Galactic-Server-src/.vs/server/v16/.suo
Galactic-Server-src/bin/common.dll
Galactic-Server-src/bin/common.pdb
Galactic-Server-src/bin/logs/app.log
Galactic-Server-src/bin/logs/app.log20210907
Galactic-Server-src/bin/logs/app.log20210908
Galactic-Server-src/bin/logs/app.log20210909
Galactic-Server-src/bin/logs/app.log20210910
Galactic-Server-src/bin/logs/app.log20210911
Galactic-Server-src/bin/logs/error.log
Galactic-Server-src/bin/logs/error.log20210907
Galactic-Server-src/bin/logs/error.log20210908
Galactic-Server-src/bin/logs/error.log20210909
Galactic-Server-src/bin/logs/error.log20210910
Galactic-Server-src/bin/logs/error.log20210911
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622421792243.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622463823488.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622515229610.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622585305618.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622656872531.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668622738910685.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668623279403679.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668623318305710.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668623369383418.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668623428290216.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668623999924439.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668624291849366.jm
Galactic-Server-src/bin/logs/maps/Piorunixst_637668853909008462.jm
Galactic-Server-src/bin/logs/world.log
Galactic-Server-src/bin/logs/world.log20210907
Galactic-Server-src/bin/logs/world.log20210908
Galactic-Server-src/bin/logs/world.log20210909
Galactic-Server-src/bin/logs/world.log20210910
Galactic-Server-src/bin/logs/world.log20210911
Galactic-Server-src/bin/RemoteLogger.exe
Galactic-Server-src/bin/RemoteLogger.pdb
Galactic-Server-src/bin/server.exe
Galactic-Server-src/bin/server.pdb
Galactic-Server-src/bin/wServer.exe
Galactic-Server-src/bin/wServer.pdb
Galactic-Server-src/common/obj/Debug/common.csproj.AssemblyReference.cache
Galactic-Server-src/common/obj/Debug/common.csproj.FileListAbsolute.txt
Galactic-Server-src/common/obj/Debug/common.dll
Galactic-Server-src/common/obj/Debug/common.pdb
Galactic-Server-src/RemoteLogger/obj/Debug/RemoteLogger.csproj.AssemblyReference.cache
Galactic-Server-src/RemoteLogger/obj/Debug/RemoteLogger.csproj.FileListAbsolute.txt
Galactic-Server-src/RemoteLogger/obj/Debug/RemoteLogger.exe
Galactic-Server-src/RemoteLogger/obj/Debug/RemoteLogger.pdb
Galactic-Server-src/server/obj/Debug/server.csproj.AssemblyReference.cache
Galactic-Server-src/server/obj/Debug/server.exe
Galactic-Server-src/server/obj/Debug/server.pdb
Galactic-Server-src/wServer/obj/Debug/wServer.csproj.AssemblyReference.cache
Galactic-Server-src/wServer/obj/Debug/wServer.exe
Galactic-Server-src/wServer/obj/Debug/wServer.pdb
